<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">
    <img src="https://www.xari.io/wp-content/uploads/2019/03/Original-on-Transparent2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Home Page
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse bg-dark" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active" data-target="#navbarCollapse" data-toggle="collapse">
				<a class="nav-link" href="/" >Home</a>
			</li>
			<li class="nav-item" data-target="#navbarCollapse" data-toggle="collapse">
				<a class="nav-link" href="counter" >Counter</a>
			</li>
			<li class="nav-item" data-target="#navbarCollapse" data-toggle="collapse">
				<a class="nav-link" href="fetchdata" >Fectch Data</a>
			</li>
			<li class="nav-item" data-target="#navbarCollapse" data-toggle="collapse">
				<a class="nav-link" href="pizzaeffect" >Pizza Effect</a>
			</li>
		</ul>
		@*<form class="form-inline mt-2 mt-md-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>*@
</div>
</nav>


@*<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">MAUIBlazorApp</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</li>
	</ul>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
*@