@inject NavigationManager MyNavigationManager


<div class="navbar-bot">
  <a class="active-bot" href="/"><i class="fa fa-fw fa-home"></i> <br> Home</a> 
  <a href="searchpage"><i class="fa fa-fw fa-search"></i><br> Search</a> 
  <a href="contactpage"><i class="fa fa-fw fa-envelope"></i><br> Contact</a> 
  <a href="loginpage"><i class="fa fa-fw fa-user"></i><br> Login</a>
</div>

@code {

}
