@page "/pizzaeffect"
<article class="contain">
  @*<section class="controls">
    <label class="hover-supported">
      <span>Hover Over Box to Close</span>
    </label>
    <label class="hover-unsupported">
      <span>Tap Box to Close; Tap Background to Open</span>
    </label>
  </section>*@
  <section class="pizza-hover">
    <div class="pizza-box">
      <div class="pizza-box-side left-side"></div>
      <div class="pizza-box-side right-side"></div>
      <div class="pizza-box-side front-side"></div>
      <div class="pizza-box-side back-side"></div>
      <div class="lid">
        <span>PIZZA</span>
      </div>
      <div class="lid-underside"></div>
      <div class="pizza">
        <div class="sauce">
          <div class="toppings">
            <div class="mozzarella"></div>
            <div class="mushroom"></div>
            <div class="mozzarella"></div>
            <div class="basil"></div>
            <div class="mozzarella"></div>
            <div class="basil"></div>
            <div class="mushroom"></div>
            <div class="mozzarella"></div>
            <div class="mushroom"></div>
            <div class="mozzarella"></div>
            <div class="basil"></div>
            <div class="mozzarella"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>